#  Local .Terraform files
# Terraform files
**/.terraform/*

# Terraform state files
*.tfstate               
*.tfstate.backup  
    

#  Terraform lock files
.terraform.lock.hcl 

# Provider binaries (large files)
**/terraform-provider-*
.terraform.tfvars

# Document 
*.Docs
