# Local .terraform directories
**/.terraform/*
!.terraform/*.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
# Terraform state files
*.tfstate
*.tfstate.*
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Ignore plan output
*.plan

# Mac & Linux system files
.DS_Store
*.swp

# Windows system files
Thumbs.db
